HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/6
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### vite ###
/vite/node_modules/
/vite/.idea/

### project ###
/db.mv.db
/db.trace.db
